div#banner-hero {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img.default-banner-detail {
    height: 90vh;
    object-fit: cover;
    min-width: 100%;
}

.detail-hero {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-detail {
    margin-left: 4.5rem;
}

.name-hero-detail {
    text-transform: uppercase;
    color: #e8b968;
    font-family: "Merienda", serif;
    font-weight: 800;
}

.skin-hero-detail {
    font-size: 0.95rem;
    margin-top: 0.5rem;
}

.story-hero-detail {
    width: 20rem;
    margin-top: 3rem;
    word-wrap: break-word;
    overflow-y: scroll;
    height: 12rem;
    line-height: 1.75;
}

.star-collection::-webkit-scrollbar, .story-hero-detail::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
}

.star-collection::-webkit-scrollbar-track, .story-hero-detail::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
}

.star-collection::-webkit-scrollbar-thumb, .story-hero-detail::-webkit-scrollbar-thumb {
    background: #e8b968;
    border-radius: 10px;
}

.skills {
    width: 100%;
    display: flex;
    padding-bottom: 1.25rem;
}

.skills-description {
    width: 60%;
}

ul.list-skills {
    display: flex;
    position: relative;
    margin: 2rem 1rem 1.25rem 1rem;
}

li.skills-set {
    margin: 0 1.5rem;
}

p.skill-description {
    padding: 0 1.5rem 0 1.25rem;
    font-size: 1.1rem;
    line-height: 1.75;
}

.context-skill {
    display: none;
    padding: 0.25rem 0 0.75rem 1.1rem;
}

.skills-set div.border-iconskill {
    cursor: pointer;
}

.active-skill-set div.border-iconskill::before {
    content: "";
    display: block;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    background: url("../img/border.png") 0 0 / 100% 100% no-repeat;
    z-index: 2;
}

h3.skill-name {
    display: block;
    padding: 0rem 0 0.75rem 1.2rem;
    font-size: 1.275rem;
}

.skills-set img {
    width: 6rem;
    filter: grayscale(0.75);
}

.active-skill-set img {
    filter: grayscale(0);
}

.skills-preview {
    width: 40%;
}

.video-frame {
    width: 90%;
    aspect-ratio: 16 / 9;
    margin: 2rem auto;
    position: relative;
}

.video-frame::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../img/frameVideo.png") 0 0 / 100% 100% no-repeat;
    z-index: -1;
}

.iframe-content {
    transform: scale(0.9);
}

.import-ytframe {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    -webkit-mask-image: url('../img/maskFrameVideo.png');
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('../img/maskFrameVideo.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}

iframe.yt-video-frame {
    transform: scale(0.9);
}

.import-ytframe {
    display: none;
}

.active-yt-video {
    display: block;
}

h2.title-content {
    text-align: center;
    padding: 2.5rem 0 0 0.5rem;
    font-size: 2rem;
    color: #e8b968;
    font-family: "Merienda", serif;
    font-weight: 800;
}

.skins {
    margin: 1.25rem auto;
    width: 90%;
}

.list-smallskin {
    height: 6rem;
    margin: 1rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-smallskin::-webkit-scrollbar {
    height: 3px;
    border-radius: 10px;
}

.list-smallskin::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
}

.list-smallskin::-webkit-scrollbar-thumb {
    background: #e8b968;
    border-radius: 10px;
}

.skinicon {
    margin: 0rem 0.5rem;
    position: relative;
    padding: 0.25rem;
    cursor: pointer;
}

.staricon.active-skin > img, .skinicon.active-skin > img {
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.staricon > img, .skinicon > img {
    transition: 0.5s ease;
}

.staricon:hover > img, .skinicon:hover > img {
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.active-skin::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: url('../img/skinactive.png') 0 0 / 100% 100% no-repeat;
    transform: scale(1.19);
}

.staricon.active-skin::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/skinactive.png') 0 0 / 100% 100% no-repeat;
    transform: scale(1.3);
}

.star-collection {
    position: absolute;
    top: 0;right: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 7rem;
}

.star-collection > p {
    color: #fff;
    text-align: center;
    margin: 0.75rem 0;
    font-weight: 800;
}

.staricon {
    position: relative;
    width: 75%;
    margin: 1rem auto;
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    .detail-hero {
        width: 80%;
        top: 60%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        padding-right: initial;
        padding-top: 1.2rem;
        bottom: auto;
        border-radius: 12px;
    }

    .content-detail {
        margin-left: initial;
    }

    .story-hero-detail {
        width: 90%;
        margin: 1rem auto;
        word-wrap: break-word;
        overflow-y: scroll;
        height: 8.5rem;
        line-height: 1.75;
    }
}

@media screen and (max-width: 950px) {
    .skills {
        flex-wrap: wrap;
    }

    .skills-preview, .skills-description {
        width: 100%;
    }
}
